Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>Tensorflow</li>
<li>NumPy</li>
<li>SciPy</li>
</ol>

Data Science Tools
<table>
<tr>
<th>Data Science Tools</th>
</tr>

<tr>
<td>SAS</td>
</tr>
<tr>   
<td>Apache Spark</td>
</tr>
<tr>
<td>Tableau</td>
<tr>

</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [8]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
min = int(input("Enter Minutes :--> "))
print("Hour : Minute :--> ", int(min/60), " : ", min % 60)

Enter Minutes :--> 200
Hour : Minute :-->  3  :  20

<b>Objectives:</b>
List popular languages for Data Science.
<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
</ol>

<h2>Author</h2>
Vaishnavi Selvakasi